@model DataBook_Bingo.Models.Aldeia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aldeia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAldeia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAldeia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgAldeia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgAldeia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisAldeia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisAldeia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAldeia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
