@model IEnumerable<DataBook_Bingo.Models.Shinobi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeShinobi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cla)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.ImagemShinobi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeShinobi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cla)
            </td>
            <td>
                @if (item.ImagemShinobi != null)
                {
                    var _img64 = Convert.ToBase64String(item.ImagemShinobi);
                    var imgScr = String.Format("data:image/gif;base64,{0}", _img64);
                    <img src="@imgScr" alt="Teste" style="width:1%;" />
                }
            <td>
        </tr>
}
    </tbody>
</table>
